[submodule "midi314.firmware/libraries/MIDIUSB"]
	path = midi314.firmware/libraries/MIDIUSB
	url = https://github.com/arduino-libraries/MIDIUSB.git
[submodule "midi314.firmware/libraries/TimerThree"]
	path = midi314.firmware/libraries/TimerThree
	url = https://github.com/PaulStoffregen/TimerThree.git
